@charset 'utf-8';
@import  'core/vars';

// 宽高 start
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// 宽高 end

// 定位 start
@mixin position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);
    @if $i and 
        $i + 1 <= length($args) and 
        type-of(nth($args, $i + 1)) == number {
      #{$o}: nth($args, $i + 1);
    }
  }
  position: $position;
}
 
@mixin absolute($args: '') {
  @include position(absolute, $args);
}
 
@mixin fixed($args: '') {
  @include position(fixed, $args);
}
 
@mixin relative($args: '') {
  @include position(relative, $args);
}
// 定位 end

// inline-block start
@mixin inline-block() {
  display: inline-block;
  @if $ie6-7 {
    zoom: 1;
    *display: inline;
  }
}
// inline-block end

@mixin title-h3() {
  position: relative;
  width: $w;
  background: #fff;
  margin: 0 auto;
  margin-top: -160px;
  min-height: 500px;

  & > h3 {
    border-bottom: 1px solid $colorGray;
    text-align: center;

    span {
      line-height: 60px;
      padding: 0 20px 14px;
      font-size: $font26;
      color: $colorYellow;
      border-bottom: 2px solid $colorBlack;
    }
  }
}
