// 安全区
$w: 1000px;

// color
$colorBlack: #000; // 黑色
$colorBlackFont: #020202; // 字体颜色黑色
$colorBlack2: #4b4946; // 海棠服务背景黑色
$colorYellowHeader: #bba382; //头部hover的背景黄色
$colorYellow: #e9d482; //黄色
$colorYellow2: #af936c; //公爵会背景黄色

$colorGray: #acacac;  //灰色
$colorGray2: #d9d9d9; // 底部灰色
$colorBrown: #947d5d; //棕色
