@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

// 参考about
$marginTop: 30px;
// $marginLeft: 50px;

// 文章
.ht-article {
	line-height: 2;

	& > h3 {
		font-size: $font32;

		& > span {
			padding-right: 10px;
			border-right: 2px solid $colorGray4;
			line-height: 1;
			color: $colorGray4;
			display: inline-block;
		}
	}
	
	& > h5 {
		font-size: 20px;
		text-align: center;
		margin-top: $marginTop;
	}

	& > img {
		width: 100%;
		margin-top: $marginTop;
	}

	& > p {
		margin-top: $marginTop;
		font-size: $font14;
		text-indent: 2em;
	}
}

.ht-article-info {
	font-size: $font12;
	line-height: 2;
	margin-top: 20px;
	color: $colorGray5;
	
	span, label {
		margin-right: 6px;
		font-weight: normal;
	}
}

.ht-article-subtitle {
	position: relative;
	width: 200px;
	margin: 0 auto;
	margin-top: $marginTop;
	padding: 50px 0;
	border: 1px solid $colorGray6;
	border-right: 0;
	border-left: 0;
	font-size: $font18;
	color: $colorGray6;
	text-align: center;

	span {
		position: absolute;
		left: -($w - 200)/2;
		width: $w;
		margin-top: - $font18;
		display: block;
	}
}

// 上一篇下一篇链接
.ht-article-link {
	position: absolute;
	left: -182px;
	top: 220px;

	&.active {
		position: fixed;
		top: 220px;
		left: 50%;
		margin-left: - ($w/2 + 182);
	}

	& > div {
		width: 182px;
		height: 200px;
		margin-top: 20px;
		border: 1px solid #d3d3d3;
	}

	.ht-article-btn {
		position: absolute;
		left: 50%;
		width: 46px;
		height: 46px;
		margin-left: -23px;
		margin-top: -23px;
		line-height: 44px;
		border: 2px solid #fff;
		background-color: #ff8e0f;
		color: #fff;
		font-size: $font12;
		text-align: center;
		border-radius: 100%;
	}

	a {
		cursor: pointer;
	}

	p {
		margin: 0 15px;
		margin-top: 36px;
		line-height: 1.75;
		font-size: $font12;
	}
}

// 分享
.ht-article-share {
	position: absolute;
	top: 220px;
	right: -80px;

	&.active {
		position: fixed;
		top: 220px;
		right: 50%;
		margin-right: - ($w/2 + 80);
	}

	a {
		margin-top: 20px;
		display: block;
	}
}