@charset 'utf-8';
@import  'sandal/core', 'font';
@import  'core/mixins', 'core/functions', 'core/vars';

body {
	// font-family: "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
	min-width: $w;
	margin: 0 auto;
	background-color: $colorBg;
}

// 统一标签浏览器效果
ul, li {
	list-style: none;
	padding-left: 0;
	margin: 0 auto;
}
a {
	color: inherit;
}


// 辅助class
// .left {
// 	float: left;
// }
// .right {
// 	float: right;
// }