@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

body {
	min-width: $w + 40;
	margin: 0 auto;
	background-color: $colorGrayBg;
}

// 统一标签浏览器效果
ul, li {
	list-style: none;
	padding-left: 0;
	margin: 0 auto;
}
a {
	color: inherit;
}


// 辅助class
// .left {
// 	float: left;
// }
// .right {
// 	float: right;
// }