@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

// 底部栏目信息
.ht-catalog {
	width: $w;
	margin: 0 auto;
	background-color: #fff;
	font-size: $font18;

	& > p {
		margin: 30px 0 20px;
		text-align: center;
	}
}
.ht-catalog-info {
	position: relative;
	padding: 60px 100px 30px;
	background-color: #ededed;
	line-height: 1.75;

	h3 {
		position: absolute;
		top: 15px;
		font-size: $font18;
		padding-right: 10px;
		border-right: 2px solid #8e8e8e;
	}

	img {
		margin: 0 auto;
		display: block;
	}
}

.ht-catalog-others {
	padding-bottom: 40px;
	@extend %clearfix;

	& > li {
		float: left;
		width: 140px;
		height: 140px;
		margin-left: 32px;
		line-height: 140px;
		text-align: center;
		font-size: $font22;
		color: #fff;

		&:first-child {
			margin-left: 0;
		}
	}
}

.ht-catalog-top {
	background: url("../img/catalog/catalog.png") no-repeat;
	background-position: -0px -0px;
}

.ht-catalog-stock {
	background-image: url("../img/catalog/catalog.png");
	background-position: -140px -0px;
}

.ht-catalog-media {
	background-image: url("../img/catalog/catalog.png");
	background-position: -0px -140px;
}

.ht-catalog-edu {
	background-image: url("../img/catalog/catalog.png");
	background-position: -140px -140px;
}

.ht-catalog-report {
	background-image: url("../img/catalog/catalog.png");
	background-position: -280px -0px;
}

.ht-catalog-rating {
	background-image: url("../img/catalog/catalog.png");
	background-position: -280px -140px;
}