@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

// 详情页css

// 内容容器
.ht-content {
	position: relative;
	width: $w;
	background: #fff;
	margin: 0 auto;
	margin-top: -182px;
	min-height: 500px;

	& > h3 {
		border-bottom: 1px solid $colorGray;
		text-align: center;

		span {
			position: relative;
			line-height: 60px;
			padding: 0 20px 14px;
			font-size: $font26;
			text-align: center; 
			color: $colorYellow;
			display: block;

			&:before {
				content: "";
				position: absolute;
				left: 50%;
				top: 100%;
				width: 170px;
				margin-left: -85px;
				border-bottom: 2px solid $colorBlack;
			}
		}
	}
}

.ht-content-padding {
	padding: $contentPaddingT $contentPaddingL;
}

.ht-content-nopadding {
	padding-top: $contentPaddingT;

	& > h3, & > img, & > p {
		&:first-child {
			margin-top: 0;
		}
	}

	& > h3 {
		margin: $contentPaddingT $contentPaddingL;
	}

	& > p {
		margin: $contentPaddingT $contentPaddingL 0;
		text-indent: 2em;
		line-height: 2;
		font-size: $font14;
	}

	& > img {
		margin-top: $contentPaddingT;
	}

	& > div, & > ul {
		margin: $contentPaddingT $contentPaddingL 0;
	}

	&.ht-content-nopadding-bottom {
		padding-bottom: $contentPaddingT;
	}
}