@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

// 详情页css

// 内容容器
.ht-content {
	position: relative;
	width: $w;
	background: #fff;
	margin: 0 auto;
	margin-top: -182px;
	min-height: 500px;
	
	& > img {
		margin: 0 auto;
	}

	& > h3, & > h5, & > img, & > p {
		&:first-child {
			margin-top: 0;
		}
	}

	&> h3, &> h5, & > p, & > img, & > div, & > ul {
		margin-top: $contentPaddingT;
	}

	& > h3 {
		border-bottom: 1px solid $colorGray;
		text-align: center;

		span {
			position: relative;
			line-height: 60px;
			padding: 0 20px 14px;
			font-size: $fontH3;
			text-align: center; 
			color: $fontColorBlack;
			display: block;

			&:before {
				content: "";
				position: absolute;
				left: 50%;
				top: 100%;
				width: 170px;
				margin-left: -85px;
				border-bottom: 2px solid $colorBlack;
			}
		}
	}

	& > p {
		text-indent: 2em;
		text-align: justify;
		line-height: 2;
	}

	& > h5 {
		text-indent: 2 * $fontBase;
		font-size: $fontH5;
		color: $fontColorBlack;

		& + p {
			margin-top: 10px;
		}
	}
}

.ht-content-padding {
	padding: $contentPaddingT $contentPaddingL;

	&.ht-content-padding-nobottom {
		padding-bottom: 0;
	}
}

.ht-content-nopadding {
	padding-top: $contentPaddingT;

	& > h3, & > h5, & > p, & > div, & > ul  {
		margin-left: $contentPaddingL;
		margin-right: $contentPaddingL;
	}

	&.ht-content-nopadding-bottom {
		padding-bottom: $contentPaddingT;
	}
}

.ht-content-detail {
	p {
		margin-top: 0;
	}
	img {
		margin: 0 auto;
		display: block;
	}
}