@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

$footerBorderColor: #b7b7b7;

footer {
	border-top: 1px solid $footerBorderColor;
	background-color: #fff;

	&.ht-footer-index {
		border-top: 0;
		background-color: $colorGray2;

		.copyright {
			border-top: 2px solid #fff;
		}
	}
}

.footer-content {
	width: $w;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	line-height: 1.75;
	line-height: 2;
	text-align: center;

	ul, a {
		flex: 1;
	}

	& > a {
		color: $fontColorBlack;
	}

	li{
		font-size: $fontSmall;
		
		&:first-child {
			font-size: $fontBase;
			color: $fontColorBlack;
			margin-bottom: 10px;
		}

		a {
			&:hover {
				color: $fontColorBlack; 
			}
		}
	}

	.qrcode {
		flex: initial;
		width: 250px;
		padding: 0;
		text-align: center;
		li {
			float: left;
			font-size: $fontBase;

			&:first-child {
				margin-bottom: 0;
				margin-right: 20px;
			}

			img {
				width: 106px;
				height: 106px;
				display: block;
			}
			span {
				margin-top: 10px;
				color: $fontColorBlack;
				display: block;
			}
		}
	}
}

.copyright {
	padding-bottom: 10px;
	border-top: 1px solid $footerBorderColor;
	line-height: 4;
	font-size: $fontSmall;
	color: $fontColorGray;
	text-align: center;
}