@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

$footerBorderColor: #b7b7b7;

footer {
	border-top: 1px solid $footerBorderColor;
	background-color: #fff;

	&.ht-footer-index {
		border-top: 0;
		background-color: $colorGray2;

		.copyright {
			border-top: 2px solid #fff;
		}
	}
}

.footer-content {
	width: $w;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	line-height: 1.75;
	font-size: $font16;
	line-height: 2;

	ul, a {
		flex: 1;
	}

	& > a {
		height: 30px;
	}

	.qrcode {
		flex: initial;
		width: 270px;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;

			&:first-child {
				margin-right: 30px;
			}

			img, span {
				display: block;
			}
			span {
				margin-top: 10px;
			}
		}
	}
}

.copyright {
	padding-bottom: 10px;
	border-top: 1px solid $footerBorderColor;
	line-height: 4;
	font-size: $font14;
	text-align: center;
}