@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

footer {
	background-color: $colorGray2;
}

.footer-content {
	width: $w;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	line-height: 1.75;

	ul, a {
		flex: 1;
	}

	.qrcode {
		flex: initial;
		width: 270px;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			
			&:first-child {
				margin-right: 30px;
			}

			img, span {
				display: block;
			}
		}
	}
}

.copyright {
	padding-bottom: 10px;
	border-top: 1px solid #fff;
	line-height: 4;
	text-align: center;
}