@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

$borderColor: #c6c7ca;


header {
	height: px2rem(140);
	padding: px2rem($padding);
	border-bottom: 2px solid $borderColor;
}

h1 {
	float: left;
	width: px2rem(280);
	height: px2rem(64);
	margin: 0 auto;
}

.menu-btn {
	float: right;
	width:  px2rem(81);
	height:  px2rem(57);
	background: url("../img/menu.png") no-repeat;
	background-size: 100%;
}