@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

$headerH: 90px;
$headerBorder: 2px;
$menuH: 40px;

header.ht-header {
	position: relative;
	width: 100%;
	min-width: $w + 40;
	border-bottom: $headerBorder solid $colorBlack;
	color: $colorBlackFont;
	background-color: #fff;
	
	nav {
		width: $w;
		height: $headerH;
		margin: 0 auto;
	}

	&.ht-header-index {
		position: absolute;
		z-index: 1;
		background: none;

		h1 {
			padding: 16px 35px 12px;
			background-color: $colorBlack;
		}

		.ht-nav-icon {
			transform: translateX(-100px);
		}

		.ht-nav > li.ht-nav-dropdown:after {
			background-color: $colorBlack;
		}
	}
}
h1 {
	position: absolute;
	padding: 30px 0 16px;
	margin: 0 auto;
	z-index: 9;
}
.ht-nav {
	position: relative;
	margin: 0 auto;
	margin-left: 220px;
	line-height: $headerH;
	font-size: 0;
	z-index: 1;

	& > li {
		float: left;
		width: 130px;
		padding: 0;
		font-size: $font22;
		text-align: center;
		
		&.ht-nav-dropdown {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: $headerH;
				left: -2000px;
				width: 4000px;
				height: $menuH;
				background-color: rgba(0, 0, 0, .6);
				display: none;
			}

			&:hover {
				& > .ht-nav-dropdown-menu {
					display: block;
				}

				&:after {
					display: block;
				}
			}
		}
	}

	a {
		&:hover, &:visited, &:active, &:link {
			color: inherit;
			text-decoration: none;
		}
	}
	.ht-nav-icon {
		position: absolute;
		top: 70px;
		left: 65px;
		width: 10px;
		height: 10px;
		padding: 0;
		margin-left: -5px;
		background: url("../img/circle.png");
		transition: .5s;
	    z-index: -1;
	}
}
.ht-nav-dropdown-menu {
	position: absolute;
	top: $headerH + 2;
	left: -20px;
	width: 1000px;
	padding-left: 0;
	text-align: left;
	font-size: 16px;
	color: #fff;
	line-height: $menuH;
	z-index: 2;
	display: none;

	& > li {
		float: left;
		width: 100px;
		text-align: center;
	}
	
	.ht-nav-dropdown-menu-bg {
		position: absolute;
		left: 0;
		height: $menuH - $headerBorder;
		background-color: $colorYellowHeader;
		z-index: -1;
		transition: .5s;
	}
}