@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

// 列表页css

.ht-list-more {
	width: 150px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	background-color: $colorGray;
}

.article-link {
	padding: 20px 0 40px;
	border-bottom: 1px solid $colorGray;
	display: flex;

	aside {
		flex: 1;
		margin-right: 50px;
	}

	h5 {
		font-size: $fontH5;
		line-height: 1.5;
		color: $fontColorBlack;
	}

	.article-link-info {
		font-size: $fontSmall;
		margin-top: 10px;
		color: $fontColorGray;

		span {
			line-height: 1;
			padding-right: 10px;
			margin-right: 10px;
			border-right: 1px solid $fontColorGray;
			display: inline-block;
		}

		label {
			margin-right: 1em;
			color: $colorBlue;
			display: inline-block;
		}
	}

	p {
		line-height: 2;
	}
}