@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';

// 列表页css

.ht-list {
	@include title-h3();
	padding: 30px 90px;
}

.article-link {
	padding: 20px 0 40px;
	border-bottom: 1px solid $colorGray;
	display: flex;

	aside {
		flex: 1;
		margin-right: 50px;
	}

	h5 {
		font-size: 24px;
		line-height: 1.5;
	}

	.article-link-info {
		font-size: 12px;

		span {
			line-height: 1;
			padding-right: 10px;
			margin-right: 10px;
			border-right: 1px solid $colorBlack;
			display: inline-block;
		}

		label {
			width: 3em;
			color: red;
			display: inline-block;
		}
	}

	// p {
	// 	font-size: 16px;
	// }
}