@charset 'utf-8';
@import  'sandal/core';
@import  'core/mixins', 'core/functions', 'core/vars';
@import  'base', 'header', 'footer', 'article', 'list', 'catalog', 'content', 'tab', 'info-list', 'download', 'strong';

// 头部banner
.ht-top-banner {
	width: 100%;
	height: 559px;
	background: url("../img/top-banner/about.jpg") center no-repeat;
	// 关于我们
	&.ht-banner-about {
		background-image: url("../img/top-banner/about.jpg");
	}
	// 海棠动态
	&.ht-banner-dynamic {
		background-image: url("../img/top-banner/dynamic.jpg");
	}
	// 海棠动态详情
	&.ht-banner-dynamic-details {
		background-image: url("../img/top-banner/dynamic-details.jpg");
	}
	// 海棠招聘
	&.ht-banner-job {
		background-image: url("../img/top-banner/job.jpg");
	}
	// 联系我们
	&.ht-banner-linkus {
		background-image: url("../img/top-banner/linkus.jpg");
	}
	// 海棠报告
	&.ht-banner-report {
		background-image: url("../img/top-banner/report.jpg");
	}
	// 海棠风控
	&.ht-banner-riskctrl {
		background-image: url("../img/top-banner/riskctrl.jpg");
	}
	// 公爵会
	&.ht-banner-duke {
		background-image: url("../img/top-banner/duke.jpg");
	}
	// 集团简介
	&.ht-banner-profile {
		background-image: url("../img/top-banner/profile.jpg");
	}
	// 媒体报道
	&.ht-banner-media {
		background-image: url("../img/top-banner/media.jpg");
	}
}

// 回到顶部
.ht-back-top {
	position: fixed;
	bottom: 100px;
	left: 50%;
	width: 50px;
	height: 160px;
	padding: 0 14px;
	margin-left: $w/2 + 50 + 20;
	background-color: #b8b8b8;
	font-size: $font16;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: none;

	&:before {
		content: "";
		position: relative;
		width: 12px;
		height: 12px;
		margin: 0 auto;
		margin-top: 24px;
		margin-bottom: 12px;
		border: 2px solid #fff;
		border-right: 0;
		border-bottom: 0;
		transform: rotate(45deg);
		display: block;
	}
}
